<a href="https://colab.research.google.com/github/tantai17132002/Python-Data-Analysis/blob/main/bai_tap_pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. 
       In giá trị của Series đó ra màn hình

In [4]:
import numpy as np
import pandas as pd

a = pd.Series(np.random.randint(200,size = 10))
a

0    133
1     19
2     56
3     35
4     68
5     78
6     40
7    127
8    162
9    186
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [5]:
dict = {'tên':'TNTT', 'tuổi': 18, 'công việc': 'sinh viên', 'lương': '10 tỷ', 'đi xe': 'LAMBORGHINI'}
b = pd.Series(dict)
b

tên                 TNTT
tuổi                  18
công việc      sinh viên
lương              10 tỷ
đi xe        LAMBORGHINI
dtype: object

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [7]:
a_id = []
for i in a.index:
    a_id.append(f'so thu {i}')
a_2 = pd.Series(a.values, index=a_id)
a_2

so thu 0    133
so thu 1     19
so thu 2     56
so thu 3     35
so thu 4     68
so thu 5     78
so thu 6     40
so thu 7    127
so thu 8    162
so thu 9    186
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [8]:
print(b[4])

LAMBORGHINI

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [9]:
print(a_2['so thu 1'])

19

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [10]:
#lấy các số thứ (0-4)

a_2[[int(name[-1]) <4 for name in a_2.index]]

so thu 0    133
so thu 1     19
so thu 2     56
so thu 3     35
dtype: int64

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [11]:
a.index.name = 'STT'
a.name = 'Gia_tri'
a

STT
0    133
1     19
2     56
3     35
4     68
5     78
6     40
7    127
8    162
9    186
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [12]:
a_log = pd.Series([np.log(gt) for gt in a.values])
a_log.name = 'logarith'
a_log

0    4.890349
1    2.944439
2    4.025352
3    3.555348
4    4.219508
5    4.356709
6    3.688879
7    4.844187
8    5.087596
9    5.225747
Name: logarith, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [21]:
a[a>10]

STT
0    133
1     19
2     56
3     35
4     68
5     78
6     40
7    127
8    162
9    186
Name: Gia_tri, dtype: int64